<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <%- style %>
</head>
<body class="min-h-screen bg-gray-50 text-gray-900">
    <%- include('_header_admin') %>
    <div class="max-w-6xl mx-auto px-4 py-6 grid md:grid-cols-[220px_1fr] gap-6">
        <%- include('admin_aside') %>
            <div>
        <%- body %>
        </div>
    </div>
    <%- include('_footer') %>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <%- script %>
</body>
</html>