<link rel="stylesheet" href="/css/admin_subscriptions.css">

<!-- Insise section#display -->
<h2>Subscriptions</h2>
<ul id="subscriptions">

    <% if(subscribers.length <=0 ) { %>
        <h3 id="nosub">
            No Subscriber available right now. 
            <!-- <a href="">
                Add Blogs
            </a> -->
        </h3>
    <% }else { %>

        <% subscribers.forEach(function(sub){ %>
            <li>
                <%= sub.email %> 
                <!-- <small>
                    <%=sub.createdAt.getDate() %>
                    -<%=sub.createdAt.getMonth() %>
                    -<%=sub.createdAt.getYear() %>
                </small> -->
                <a href="/user/admin/deletesubscriber/<%= sub._id %>">
                    <i class="ri-close-large-line"></i>
                </a>
            </li>
        <% }); %>
    <% } %>


    
</ul>