<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin_layout.css">
    <%- style %>
</head>
<body>
    <%- include('_header_admin') %>
    <main>
        <%- include('admin_aside') %>
        <section id="display">
            <%- body %>
        </section>
    </main>
    <%- include('_footer') %>
    <%- script %>
</body>
</html>