<link rel="stylesheet" href="/css/blogPage.css">
<main>
    <section id="blog">
        <div class="blogImage">
            <img src="/images/<%= blog.image %>" alt="Blog Image">
        </div>
        <div class="blogContent">
            <div class="blogHeader">
                <h1>
                    <%= blog.title %>
                </h1>
                <div class="author">
                    <h4>
                        <small>-</small><%= blog.author %>
                    </h4>
                    <p>
                        <%= blog.createdAt.toDateString() %>
                    </p>
                </div>
            </div>
            <div class="blogBody ">
                <p >
                    <%- blog.content %>
                </p>
            </div>
        </div>
    </section>
</main>
