<link rel="stylesheet" href="/css/home.css">

<main>
    <section class="subscribe">
        <h1>Latest Blogs</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ipsum illo optio! Eos, animi perferendis.</p>
        <div class="subscribeInput">
            <form action="/addSubscriber" method="POST">
                <% if(locals.user) { %>
                    <input id="emailInput" placeholder="Must Be a Reader to Subscribe..." disabled>
                    <button type="submit" disabled style="pointer-events: none;">Can't Subscribe</button>
                <%} else{%>
                    <input type="email" name="email" id="emailInput" placeholder="Enter your email..">
                    <button type="submit" >Subscribe</button>
                <%} %>
            </form>
        </div>
    </section>
    <section class="blog">
        <section class="blogFilter">
            <h2 class="active">All</h2>
            <h2>Technology</h2>
            <h2>StartUp</h2>
            <h2>LifeStyle</h2>
        </section>
        <section class="blogList">
            <% if(cleanBlogs.length <=0 ) { %>
                <h3 id="noblog">
                    No Blogs available. 
                    <a href="/user/admin">
                        Add Blogs
                    </a>
                </h3>
            <% }else { %>
                <ul>
                    <% cleanBlogs.forEach((blog)=>{%>
                        <li class="blogcard">
                            <div class="blogImage">
                                <img src="/images/<%= blog.image %>" alt="">
                            </div>
                            <div class="blogContent">
                                <h4>
                                    <%= blog.category %>
                                </h4>
                                <h3>
                                    <%= blog.title %>    
                                </h3>
                                <p id="blogContentBody">
                                    <%- blog.content %>
                                </p>
                                <a href="/blog/<%= blog._id %>">
                                    Read more<i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </li>
                    <%});%>
                </ul>
            <% } %>
        </section>
    </section>
</main>
